* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(138, 138, 138);
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: blur(10px);
}

img {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.player {
    background: rgb(77, 77, 77);
    background: linear-gradient(60deg, rgba(77, 77, 77, 1) 0%, rgba(150, 150, 150, 1) 100%);
    width: 320px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 160px);
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px black;
}

.preview-container {
    background-color: gray;
    width: 320px;
    height: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.preview {
    width: 320px;
    height: 260px;
    object-fit: cover;
    transition: transform 0.7s;
    /* transform: scale(1); */
}

.controls {
    padding: 10px;
    padding-bottom: 5px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.play-btn {
    width: 60px;
    height: 60px;
    /* background-color: blue; */
    color: white;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: box-shadow 0.2s, opacity 0.2s;

    &:hover {
        box-shadow: 0px 0px 7px black;
        opacity: 0.8;
    }
}

.text {
    flex-grow: 1;
}

.singer {
    font-family: 'Lexend', sans-serif;
    color: #b2eb2d;
    font-size: 24px;
    /* margin-bottom: 5px; */
}

.title {
    font-family: 'Exo 2', sans-serif;
    /* background-color: lightcyan; */
    color: #fefefe;
    font-size: 16px;
    word-wrap: break-word;
}

.btns-and-volume {
    display: flex;
    width: 80px;
    height: 60px;
    flex-wrap: wrap;
    align-content: space-between;
}

.volume-container {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.volume-indicator {
    height: 15px;
    cursor: pointer;
}

.volume {
    display: block;
    width: 55px;
    height: 5px;
    appearance: none;
    border-radius: 5px;
    /* background-color: blueviolet; */
    background-color: #000;
    cursor: pointer;
}

.volume::-webkit-slider-thumb {
    appearance: none;
    width: 6px;
    height: 11px;
    border-radius: 5px;
    /* background-color: red; */
    background-color: #6fe96f;
    cursor: pointer;
}

.btns {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.prev {
    width: 30px;
    height: 30px;
    /* background-color: blue; */
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.next {
    width: 30px;
    height: 30px;
    /* background-color: blue; */
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.song-time {
    /* background-color: lightgreen; */
    font-family: 'Cabin', sans-serif;
    color: #46e246;
    text-align: right;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.time-line {
    display: block;
    width: 80%;
    height: 5px;
    margin: auto;
    appearance: none;
    border-radius: 5px;
    /* background-color: blueviolet; */
    background-color: #000;
    cursor: pointer;
}

.time-line::-webkit-slider-thumb {
    appearance: none;
    width: 6px;
    height: 11px;
    border-radius: 5px;
    /* background-color: red; */
    background-color: #6fe96f;
    cursor: pointer;
}

/*
.pointer {
    height: 10px;
    width: 4px;
    position: absolute;
    left: 30px;
    bottom: 21px;
    background-color: rgb(223, 127, 38);
    border-radius: 5px;
}
.line {
    height: 5px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: darkblue;
    cursor: pointer;
}
*/
.curr-time {
    /* background-color: white; */
    font-family: 'Cabin', sans-serif;
    color: #fefefe;
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github {
    width: 50px;
    height: 50px;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.rss {
    height: 50px;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.year {
    width: 50px;
    font-size: 22px;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.7;
    }
}